---
---

@import "{{ site.theme }}";

p, li
{
font-size: 75%;
}

a[href ^= 'http']:not([href *= 'yourdomain.']) {
    background: transparent url(arrow.svg) no-repeat center right;
    padding-right: 16px;
}


	
.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
    font-weight: normal;
}



