---
---

@import "{{ site.theme }}";

p, li
{
font-size: 75%;
}

a[href ^= 'http']:not([href *= 'yourdomain.']) {
    background: transparent url(arrow.svg) no-repeat center right;
    padding-right: 16px;
}



p:first-letter{
    display:block;
    float:left;
    margin:3px;
    color: black;
    font-size:300%;
}

